.section__central {
  background: var(--color-bg-medium);
}

.section__central_wrap {
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 10rem 2.4rem 10rem;
}

.section__central_paragraph {
  max-width: 78.7rem;
  color: var(--color-text);
  font-size: 1.8rem;
  line-height: 150%;
  margin: 0 0 4.8rem 0;
}

.SectionCentral__CardInfo {
  display: flex;
  gap: 7rem;
  margin-bottom: 7rem;
}

.section__central_h2 {
  color: var(--color-text);
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0 3.2rem 0;
}

.SectionCentral__CardRating {
  display: flex;
  gap: 7rem;
}

@media (max-width: 1270px) {
  .SectionCentral__CardInfo {
  
    gap: 3.5rem;
  }
  .SectionCentral__CardRating {
    gap: 3.5rem;
  }
}

@media (max-width: 1100px) {
  .section__central_wrap {
    padding: 3.2rem 2.4rem 3.2rem;
  }
  .section__central_paragraph{
     margin: 0 0 2.4rem 0;
  }
  .SectionCentral__CardInfo {
    flex-direction: column;
    align-items: center;
     margin-bottom: 3.2rem
  }
  .section__central_h2 {
     margin: 0 0 2.4rem 0;
  }
  .SectionCentral__CardRating {
    flex-direction: column;
     align-items: center;
  }
}

@media (max-width: 640px) {
  .SectionCentral__CardInfo {
     gap: 1.6rem;
  }
    .SectionCentral__CardRating {
    gap: 1.6rem;
  }
}


