.social__icons {
  display: flex;
  align-items: center;
  gap: 2.4rem;
 }

.social__icons_icon {
  text-decoration: none;
}

.social__icons_icon:hover {
    background-color: var(--color-bg-medium)
}
