.button {
  padding: 16px 32px;
  color: var(--color-text);
  background: none;
  border: none;
  font-size: 18px;
  line-height: 120%;
  border-radius: var(--border-10);
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.button_primari {
  background: var(--color-primary);
}

.button_primari:hover {
  background: var(--color-primary-hover);
}

.button_ghost {
  border: 1px solid var(--color-stroke);
}

.button_ghost:hover {
  background: var(--color-bg-light);
}

@media (max-width: 640px) {
  .button {
    padding: 12px 24px;
  }
}
