:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #5b27bc;
  --color-secondary: #e47ad5;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-light: #2e2d3d;
  --color-bg-medium: #1e1f29;
  --color-bg-footer: #101114;
  --space-10: 1rem;
  --color-stroke: #4d5064;
  --border-8: 0.8rem;
  --border-10: 1rem;
  --layout-width: 126.8rem;
  --grad-1: linear-gradient(158deg, #d77be5 0%, #be63e5 34.69%, #6c38cc 100%);
}

* {
  box-sizing: border-box;
}

/* Зглажування шрифтів */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* Перехід з  (px)  на  (rem) */
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  font-family: "Comfortaa", cursive;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: var(--color-bg);
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
